/* General Demo Style */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


a {
	text-decoration: none; !important;
}

.no-touch a:hover,
.no-touch a:active {
	color: #333;
}

.container {
	height: 100%;
	position: relative;
}

.container > section {
	min-height: 100%;
	margin: 0 auto;
	padding: 20em 3em;
}

.touch .container > section {
	padding: 0;
	min-height: 0;
}

.container > header {
	margin: 0 auto;
	padding: 2em 1em 2em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #fff;
	z-index: 999999;
	-webkit-backface-visibility: hidden;
}

.touch .container > header {
	position: relative;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.6;
	padding: 0 0 0.6em 0.1em;
}

.container > section p {
	color: #fff;
	text-align: center;
	padding: 1em;
	margin: 0;
}

/* To Navigation Style */



#set-1 {
	background: #fff;
}


@media screen and (max-width: 800px) {

	.hi-icon {
		margin: 15px !important;
	}

	.container > section {
		padding: 20em 1em;
	}

}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}